<nav id="mainNav" class="navbar navbar-light">

    <div class="container">
        <a class="navbar-brand" id="brandNav" href="{{@blog.url}}" title="{{@blog.title}}">
            <img class="pull-xs-left" height="32" alt="{{@blog.title}} - Logo" src="{{@blog.logo}}">
        </a>

        <button class="navbar-toggler offsetMenu pull-xs-right text-muted" type="button" id="offsetMenu">
          <i class="icon-menu"></i>
        </button>
    </div>

</nav>
