<nav id="offsetNav" class="nav-offset bg-inverse">
	<div class="p-x-1 p-t-1">
		<button class="btn btn-sm btn-outline-secondary btn-block offsetMenu" type="button" id="offsetMenu">
	        hide <i class="icon-menu"></i>
	    </button>
	</div>

    <hr>

    <div class="p-l-1 p-r-1">
        <ul class="nav nav-pills nav-stacked m-b-1">
			{{#foreach navigation}}
			<li class="nav-item nav-{{slug}}" role="presentation">
				<a href="{{url absolute="true"}}" class="nav-link {{#if current}}active{{/if}}" title="{{label}}">{{label}}</a>
			</li>
			{{/foreach}}
        </ul>
    </div>

	<hr>

	<div class="p-y-1 text-xs-center">
		<a href="/rss" class="btn btn-sm btn-secondary" title="Blackpalm Theme Feeds"><i class="icon-rss"></i></a>

		<a href="https://www.facebook.com/macawws" class="btn btn-sm btn-secondary" title="Like Macaw.ws facebook fanpage"><i class="icon-facebook"></i></a>

		<a href="https://twitter.com/macawws" class="btn btn-sm btn-secondary" title="Macaw.ws tweets"><i class="icon-twitter"></i></a>

		<a href="https://plus.google.com/+Macawws" class="btn btn-sm btn-secondary" title="Macaw.ws G+ page"><i class="icon-google-plus"></i></a>
	</div>

</nav>
